#float-left
{
	color:blue;
	border:3px solid blue;
	padding:20px;
	margin:10px;
	float:left;
	height:20px;
	width:80px;
}
#float-right
{
	color:blue;
	border:3px solid red;
	padding:20px;
	margin:10px;
	float:right;
	height:20px;
	width:80px;
}
#div1
{
	border:3px solid red;
	padding:10px;
	margin:10px;
	float:left;
	height:100px;
	width:100px;
}
#div2
{
	border:3px solid blue;
	padding:10px;
	margin:10px;
	height:200px;
	width:200px;
}
#div3
{
	border:3px solid yellow;
	padding:10px;
	margin:10px;
	float:left;
	height:100px;
	width:100px;
}
#div4
{
	border:3px solid green;
	padding:10px;
	margin:10px;
	height:200px;
	width:200px;
	clear:left;
}
#clearfix-hack
{
	border:3px solid grey;
	width:100%;
	
}
.image
{
	float:right;
}
.clearfix
{
	overflow:auto;
}