.static
{
	border:2px solid green;
	padding:10px;
	margin:10px;
	position:static;
}
.fixed
{
	border:2px solid red;
	padding:10px;
	margin:10px;
	position:fixed;
	right:10px;
	bottom:10px;
	
}
.relative
{
	border:2px solid blue;
	padding:10px;
	margin:10px;
	position:relative;
}
.absolute
{
	border:2px solid aqua;
	padding:10px;
	margin:10px;
	position:absolute;
}
img
{
	border:2px solid blue;
	z-index:-1;
	position:absolute;
	left:20px;
	
}
.textonimage
{
	position:relative;
	left:700px;
	bottom:40px;
}
.opacity
{
	opacity:0.3;
}
.topleft
{
	position:absolute;
	left:20px;
}
.topright
{
	position:relative;
	left:460px;
}
.center
{
	position:absolute;
	left:250px;
	top:170px;
}
.bottomleft
{
	position:relative;
	top:365px;
	left:20px;
}
.bottomright
{
	position:relative;
	top:344px;
	left:430px;
	
}