#wrap
{
	width:100%;
	height:50px;
	background-color:#366b82;
	position:relative;
	padding:0;
	margin:0;
	z-index:99;
}
.navbar
{
	height:50px;
	padding:0;
	margin:0;
	position:absolute;
	border-right:1px solid #54879d; 
}
.navbar li
{
	list-style-type:none;
	float:left;
	text-align:center;
	height:auto;
	width:150px;
	font:normal bold 12px/1.2em Arial, Verdana, Helvetica;  
}
.navbar li a
{
	text-decoration:none;
	display:block;
	border-left:1px solid #54879d; 
	border-right:1px solid #1f5065;
	color:white;
	padding:18px;
}
.navbar li:hover,a:hover
{
	background-color:#54879d;
}
.navbar li ul
{
	display:none;
	background-color:#366b82;
	width:150px;
	height:auto;
	padding:0;
	margin:0;
}
.navbar li:hover ul,a:hover
{
	display:block;
	background-color:#366b82;
}
.navbar li ul li a
{
	border-left:1px solid #1f5065; 
	border-right:1px solid #1f5065; 
	border-top:1px solid #74a3b7; 
	border-bottom:1px solid #1f5065;
}